
/*GENERAL*/
/*RESET STYLING*/
span, ul, li, div, a{display:block;}
input, button, submit { border:none; }
button:focus, input:focus {outline:0 !important;}
*
{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', 'FontAwesome', sans-serif;
  padding-right:0px !important;
  margin-right:0px !important;
}

option{
    padding:5px 0;
  }

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #444;
}

.responsive-wrapper{
  width:100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.responsive-wrapper-heading{
  width:100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.cont-general{
  width:100%;
  position:relative;
  background-color: #fafafa;
}


.cont-row{
  width: 100%;
  height: auto;
  display: block;
  clear: both;
}

.divider{
  margin: 20px 0;
  border-top: 1px solid #efefef;
}

.data-divider{
  margin: 10px 0;
  border-top: 1px solid #efefef;
}


.nav-push{
  height:60px;
  width:100%;
}

/*NAV*/
.nav{
  z-index:10;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
}

.pub-nav{
  z-index:10;
  background-color: transparent;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20px;
}

.nav-logo{
  width:100px;
  display:block;
  position:absolute;
}

.nav-logo img{
  margin-top: 22px;
  width: 100px;
}

.nav-main-link{
  max-width: 1000px;
  margin:  20px auto;
  text-align: center;
}

.nav .nav-main-link li{
  display: inline-block;
  padding: 0 20px;
}

.nav .nav-right li{
  display: inline-block;
  padding: 0 10px;
}

.nav ul li a{
  color: #27989f;
  font-size: 15px;
  font-weight: 500;
}

.nav ul li a:hover{
  color: #22858b;
}

.nav-form{
  width:200px;
  padding:10px;
  height:40px;
  border-radius: 2px;
  border: 1px solid #eee;

  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

.nav-form:focus{
  border: 1px solid #27989f;
  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

#nav-responsive{
  position:relative;
  top:-60px;
  margin: 0 auto;
  width:100%;
  max-width: 1440px;
  padding: 0 20px;
}

.nav-right{
  margin-top:10px;
  float:right;
}

#nav-hamburger{
  position:fixed;
  top:20px;
  right:20px;
  display:none;
  cursor: pointer;
  font-size:25px;
  color: #27989f;
}

#nav-mobile-logout{
  display:none;
}

.nav-push{
  height:60px;
  display:block;
  width:100%;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.dropdown{
  display:none;
  width:100px;
  background-color:white;
  position:absolute;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
  top: 60px;
}

.nav .nav-right .dropdown ul li{
  width:100%;
  padding: 10px;
}

.nav .nav-right .dropdown ul li:hover{
  background-color:#fafafa;
}

#active{
  color: #22858b;
  font-weight: 700;
}

.nav-mobile{
  display:none;
  width:100%;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
  position:relative;
  top:60px;
}

.nav-mobile li{
  background-color:white;
  height:60px;
  text-align: center;
  padding-top:15px;
}
