/*main*/
.cont-main{
  height: 100vh;
  width:100%;
  position:relative;
  background: url("../images/bg.jpg") no-repeat top;
  background-size: cover;
  padding: 20vh 0;
}

.cont-home{
  height: auto;
  width:100%;
  position:relative;
  background-color: #fafafa;
}

.main-box{
  background-color:white;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 2px;
  padding: 50px 30px ;
}

.main-box-register{
  background-color:white;
  margin: 0 auto;
  max-width: 700px;
  border-radius: 2px;
  padding: 50px 20px ;
}

.main-h{
  font-size: 30px;
  font-weight: 600;
  color: #444;

  text-align: center;
  width:100%;
  margin-bottom: 20px;
}

.main-register-text{
  font-size:13px;
  color: #888;
  text-align:center;
}

.main-link, .main-link:active, .main-link:visited {
  font-size:13px;
  color: #888;
  text-decoration: none;
}

.main-link:hover{
  color: #444;
}

#back-button{
  font-size:15px;
  color:#27989f;
  margin-bottom: 10px;
}

#back-button:hover{
  color:#22858b;
}

.main-error{
  font-size:13px;
  color: #ff7c7c;
  margin: 5px 0 5px 0;
}

.main-form{
  width:100%;
  padding:10px;
  height:50px;
  margin-bottom: 5px;

  border-radius: 2px;
  border: 1px solid #eee;

  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

.main-form:focus{
  border: 1px solid #27989f;
  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

#main-registerlink{
  margin-bottom: 20px;
}

.register-column{
  height: auto;
  width: calc(50% - 5px);
  display:inline-block;
  vertical-align:top;
}

.register-row{
  display:block;
  text-align: center;
}

.margin-right{
  margin-right:6px;
}

.heading-bar{
  background-color:white;
  width:100%;
  padding: 50px 0;
  border-bottom: 1px solid #efefef;
  margin-bottom:50px;
  height: 125px;

}

.heading-bar span{
  position:absolute;
  width:100%;
  font-size: 30px;
  font-weight: 700;
  color: #444;
}

.home-box{
  width:250px;
  background-color:white;
  padding:40px 20px;
  border-radius:2px;
  border: 1px solid #efefef;
}

.home-map{
  float:right;
  width: calc(100% - 260px);
  background-color:white;
  padding:40px 20px;
  border-radius:2px;
  border: 1px solid #efefef;
}

.home-map img{
  height: 500px;
}

.col-left{
  float:left;
}

#home-lvl span{
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 10px 0;
  text-align: center;
}

#home-legends{
  margin-top:10px;
}

#home-legends ul li:first-child{
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 10px 0;
  text-align: center;
}

#home-legends ul li{
  font-size:13px;
  padding: 20px 0;
}

.legend-img{
  height: 20px;
  width: 20px;
  background-color: #efefef;
  float:left;
  margin-right:10px;
}

.level-mod{
  text-align: center;
  margin-top:20px;
}

input#number {
  text-align: center;
  border: none;
  border: 1px solid #efefef;
  border-radius: 2px;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.value-button {
  color:white;
  display: inline-block;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #27989f;
  user-select: none;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.value-button:hover {
  cursor: pointer;
  background: #22858b;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

/*PATIENT REPORT*/

.col-right{
  float:right;
  width: calc(100% - 260px);
}

.wrapper-patient-pic{
  width:150px;
  height:150px;
  margin: 0 auto 20px;
}

.patient-btn-icon{
  width:150px;
  height:150px;
  margin: 0 auto 20px;
  border:solid 1px #efefef;
}

.patient-pic {
  width: 100%;
  height: 100%;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

#patient-info-h{
  display:block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color:#27989f;

  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

#patient-info-h:hover{
  color:#22858b;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

#patient-info span{
  font-size: 15px;
  font-weight: 500;
  padding: 0 0 10px 0;
  text-align: center;
}

#trace-patient-btn{
  margin-top: 50px;
}

.patient-button{
  background-color:white;
  width: calc(100% / 2 - 5px);
  margin: 0 auto 10px;
  padding: 40px 20px;
  display:inline-block;
  border: 1px solid #efefef;
}

.patient-details-link, .patient-details-link:active, .patient-details-link:visited {
  color: #888;
  text-decoration: none;
  float:right;
}

.patient-details-link i{
  font-size:30px;
}

.patient-details-link:hover{
  color: #444;
}

.patient-button h{
  display:block;
  font-size:30px;
  text-align:center;
  font-weight:700;
  color: #444;
}

.patient-button p{
  display:block;
  font-size:13px;
  text-align:center;
  font-weight:500;
  color: #888;
}

/*HEARTRATE*/
.panel{
  height:80px;
  background-color:white;
  border: 1px solid #efefef;
  margin-bottom:10px;
  padding: 20px 20px;
}

.panel-calendar{
  position:absolute;
  height:70px;
  font-size:13px;
}

.panel-calendar input{
  margin-left:10px;
}

#panel-edit{
  margin-top:2.5px;
}

.data{
  width:100%;
  background-color:white;
  border-left: 5px solid #27989f;
  margin-bottom:10px;
  padding:40px 20px;
}

.data-date{
  width:100%;
  font-weight:700;
  font-size:18px;
  margin-bottom:20px;
}

.data-row{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  padding:20px 0;
}

.data-box{
  width:125px;
  border: 1px solid #27989f;
  display:inline-block;
  margin:0;
  text-align:center;
  padding:10px;
  min-height: 125px;
  vertical-align: top
}

.data-box .data-time{
  font-size:12px;
  color:#888;
  margin-bottom:10px;
}

.data-box .data-heartrate-main{
  font-size:30px;
  font-weight:700;
  color:#444;
}

.data-box .data-heartrate-sub{
  font-size:16px;
}

.data-box .data-heartrate-label{
  font-size:12px;
  color:#888;
}

.data-row::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.data-row::-webkit-scrollbar
{
  height: 12px;
  background-color: #F5F5F5;
}

.data-row::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #27989f;
}

/*BP*/

.data-bp-main{
  margin-top:20px;
  font-size:20px;
  font-weight:700;
  color:#444;
}

.bp-label{
  float:right;
  font-size:11px;
  color: #888;
  font-weight: 500;
}

/*FOOD*/

.missed{
  background-color:#f20000;
  border: 1px solid #aa5353;
}

.missed span,.missed span i,.fed span, .fed span i{
  color:white !important;
}

.fed{
  background-color:#27989f;
  border: 1px solid #22858b;
}

.data-food-main{
  font-size:15px;
  font-weight:700;
  color:#444;
  white-space: normal;
}

/*MED*/

.patient-list{
  margin-bottom: 20px;
}
.patient-list li{
  text-align:center;
  color:#888;
  font-size:13px;
  margin-bottom:5px;
}

.patient-list li:first-child{
  margin-bottom:10px;
  font-size:16px;
  color:#444;
  font-weight:700;
}

/*NOTIFICATION*/

.notif-wrapper{
  max-width:500px;
  margin: 0 auto;
}
.notification{
  padding:15px;
  position: relative;
}

.wrapper-patient-notif{
  width:50px;
  height:50px;
  margin: 0 auto;
}

.notif-profile{
  display:inline-block;
  width:75px;
  border-right: 1px solid #efefef;
}

.notif-text{
  display:inline-block;
  padding-left:10px;
  color:#888;
  display: table-cell;
  vertical-align: middle;
}

.notif-cross{
  position: absolute;
  cursor: pointer;
  font-size:20px;
  color:#27989f;
  top:5px;
  right:5px;
}

#notif-button{
  display: table-cell;
  vertical-align: middle;
}

#notif-button i{
  font-size:40px;
  color:#27989f;
}

#notif-button i:hover{
  color:#22858b;
}
.notif-cross i:hover{
  color:#9e0000;
}

.notif-cross i{
  color:red;

  vertical-align: top;
}

#patient-notif-h{
  margin-top:10px;
  display:block;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color:#27989f;

  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

#patient-notif-h:hover{
  color:#22858b;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.notification-row{
  display: table;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .register-column{
    width: 100%;
  }
  .margin-right{
    margin-right:0px;
  }
}


/*PHONE*/
@media only screen
and (max-width: 736px) {
  /*NAV MOBILE*/

  #nav-hamburger{
    display:block;
  }

  .col-left{
    width:100%;
  }

  .col-right{
    width:100%;
  }

  .home-box{
    width:100%;
    margin-bottom:10px;
  }

  #trace-patient-btn{
    margin-top: 10px;
  }

  .heading-bar span{
    text-align:center;
    position:relative;
  }
  /*
  .nav-logout{
  display:none;
}

.nav-center{
position:relative;
margin-top:50px;
display:none;
}

.nav-center li{
display:block;
padding: 20px 14px;
height:60px;
background-color:white;
-webkit-transition: 200ms ease;
transition: 200ms ease;
}

.nav-center li:hover{
background-color:#fafafa;
-webkit-transition: 200ms ease;
transition: 200ms ease;
}

#nav-mobile-logout{
display:block;
}
*/
}
